*{
    padding: 0;
    margin: 0;
}
/*++++++++++SECCION HEADER++++++++*/
header{
    width:100%;
    position: fixed;
    box-shadow: 0px 10px 10px 2px rgb(207, 205, 205);
}

.navbar{
     width: 100%;
    background: rgb(241, 172, 203);
    
}
.barraNav{
    display:flex;
    align-content: flex-end;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    list-style: none;
    padding:10px 40px;
    
   
}

.link{
    margin: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color:blueviolet;
    text-decoration: none;
    
}

/*++++++++++SECCCION PRESENTACION++++++++*/
.presentacion{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    padding: 200px 0px;
    align-items: center;
    justify-content:center;
}

.saludo{
    width: 500px;

}

.hola{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 2em;
}

.nombre{
    color:rgb(219, 70, 179);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
    font-weight: bolder;
}

.descripcion{
    padding: 20px;
    color:blueviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:larger;
}

button{
    padding: 3px;
    background-color: rgb(219, 70, 179);
    width: 200px;
    height: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:medium;
    border-radius: 25px ;
    border-color:rgb(219, 70, 179) ;
    
}
button a{
    text-decoration: none;
    color: white;
}

button:hover{
    background-color: rgb(236, 147, 213) ;
}

.developer{
    width:450px;

}

.desarrolladora{
    width: 450px;
}


/*++++++++++AQUI COMIENZA LA SECCION CONOCIMIENTOS+++++++++++*/

.conocimientos{
    width: 100%;
    background: rgb(253, 237, 249);
    
}
.lenguajes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.segundoTitulo , .tituloMisProyectos{
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     text-align: center;
     padding-top: 100px;
     font-size: 50px;
     margin:auto;
     
}
.descripcion2 , .descripcion3 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:larger;
    color:grey;
    padding: 30px 30px 0 30px;


}
.cajitas{
    display:flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 100px;
    padding-top: 50px;
    

}
.iconoLen{
   
    width:250px;
    height: 200px;
    border: 1px solid grey;
    margin:10px;
    border-radius: 10px;
    background-color: white;
    color:rgb(219, 70, 179);
    padding-top: 50px;
    text-align: center;
    font-size: 90px;
}

.iconoLen:hover{
    border:2px solid rgb(219, 70, 179);
}

.iconoLen:hover p{
    color:blueviolet;
}

p{
    color:black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 20px;
}

/*+++++++++INICIO DE CITA+++++++++++*/

.frase{

    width: 100%;
    background: rgb(219, 70, 179);
    text-align: center;
    padding: 100px 0px;

}

.comillas{
 font-size: 120px;   
 color:grey;
}

.textoDeFrase{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
}

.autorDeFrase{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    font-size: 50px ;
    padding-top: 30px;

}
/*+++++++++++SECCION DE PROYECTOS+++++++++++*/

.proyectos{
    width: 100%;
    
}
.tercerTitulo{
    text-align: center;
}

.cuadros{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 100px;
    margin: auto;
    padding-bottom: 100px;
}

.project{
    border:3px solid grey;
    border-radius: 10px;
    margin: 10px;
}
.project img{
    width: 300px;
    height: 200px;
    padding: 10px;
    
}

.parrafoProject{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.project:hover {
    border:3px solid rgb(219, 70, 179);
}

.project:hover p{
    color: blueviolet;
}



/*++++++++++SECCION FORMULARIO++++++++++++*/
.seccionContacto{
    width: 100%;
    background: rgb(253, 237, 249);
    padding-top: 200px;
    padding-bottom: 200px;
   
}

.formulario{
    width: 90%;
    border:1px solid rgb(222, 219, 219);
    border-radius: 15px;
    display: flex;
    background-color: white;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.contactame{
    margin-bottom: 50px;
    padding:5px;
}
.cuartoTitulo , .quintoTitulo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    padding-top: 70px;
    

}
.descripcion4{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 20px;
    padding-bottom: 40px;
    color: blueviolet;

}

.redes{
    display: flex;
    font-size: 20px;
    padding:10px;
    align-items: center;
    
}
    

.redes a{
    text-decoration: none;
    color: black;
}

.social{
    padding-right:15px;
    color:rgb(219, 70, 179);

}
.social i {
    padding: 9px 10px 10px 10px;
    
}

.redes:hover a{
    color :blueviolet;
}

.redes:hover i{
    border-radius: 50%;
    background-color: blueviolet;
    color: white;
}

.hablame{
    color:blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;
    margin:auto;
}

.nya{
    display: flex;

}
input , .mensaje{
    border-radius: 25px;
    background-color: rgb(253, 237, 249);
    padding:10px;
    margin: 5px;
    border: 1px solid rgb(253, 237, 249);
}

input:focus{
   box-shadow: 0px 0px 20px 3px grey ;
   border: 3px solid rgb(199, 29, 199);
   
}

.escribime{
    margin-bottom: 50px;
}
.mensaje{
    width:400px;
    height: 150px;
}

/*+++++++++SECCION FOOTER++++++++++++*/

.navegadorFooter{
    background: rgb(219, 70, 179);
    width: 100%;
    padding-bottom: 20px;
}
.finDePagina{
   
    display: flex;
    justify-content:space-evenly;
    padding: 50px 0px 20px;
   
    
}

.link2{
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-size: small;
}

.iconoFinPagina{    
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

.circulo{
    width: 25px;
    border: 1px solid rgb(219, 70, 179) ;
    border-radius: 50%;
    background-color: white;
    margin: 20px;
    font-size: 23px;
    padding:4px 4px 4px 6px;
    color:rgb(219, 70, 179);
}

.circulo i{
    color:rgb(219, 70, 179);
}

.circulo:hover{
    border:1px solid white;
    background-color: rgb(219, 70, 179);
   
}
.circulo:hover i{
    color:white;
}

.madeContent{
    display: flex;
    justify-content: center;
    padding: 20px 0px 50px 0px;
}

.made{
    color:white;

}
.madeContent i{
    color:red;
}
/*++++++++++SECCION RESPONSIVE+++++++*/

@media screen and (max-width:900px) {

.navbar{
    display: none;
}

.presentacion{
    padding: 100px 0px;
}

.saludo{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    }

.developer{
    width: 350px;
    padding-top: 50px;
}    

.desarrolladora{
    width:350px;
}

}

@media screen and (max-width:500px){
    .saludo{
        width: 300px;
    }
    .nombre , .segundoTitulo , .tituloMisProyectos , .autorDeFrase , .cuartoTitulo , .quintoTitulo{
        font-size: 35px;
    }
    .developer{
        width:250px;
    }
    .desarrolladora{
        width: 250px;
    }
    
    .descripcion4{
        font-size: 13px;
    }
    .hola{
        font-size: 20px;
    }
    .contactame , .escribime{
        text-align: center;
    }
    .nya{
        display: inline;

    }
    .email{
        size: 35px;
    }
    .mensaje{
        width:280px;
    }
    .finDePagina{
        display:none;
    }
}

@media  screen and (max-width:350px){
    .project img{
        width: 220px;
        height: 200px;
        padding: 10px;
    }
    input , .mensaje{
        width: 220px;
    }
    .circulo{
        margin:10px;
    }

    
}
















